/*Align-items: use for elements in only line  
 
1. flex-start 
2. center
3. flex-end
4. stretch
5. baseline (cross axis)

 */

div {
    display: flex;     
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.flex-container {
    align-items: center;
}

.flex-item {
    background: #00ccffff;
    margin: 5px;
    height: 120px;
    width: 120px;
}
