.container {
	padding: 20px 5px;
	background-color: grey;
	background-image: url(/home/der/Dokumente/CSS/imagenes/liinaliis.jpg); /*url give the address of the image */
	border: 4px solid #000;
	height: 400px;
	margin: 40px;
	background-clip: cover;
	background-size: 2 00px;
	background-repeat: no-repeat;
	background-attachment: fixed; /*according to move of scroll show the image in the div  */
}