*{
	font-family: cursive;
	font-weight: 100;
	font-size: 30px;
	padding: 0px;
	margin: 0px;

}

div {
	width: 120px;
	height: 120px;
	display: inline-block;
}

.contener{
	width: 300px;
	height: 300px;
	background-color: orange;
	margin: 40px;
	position: relative;
}

.hijo{
	background-color: blue;
	height: 120px;
	width: 120px;
	position: relative;
	top: -20px;
	left: -20px;
	z-index: -1;/*so the father is over the son */
}

/*Position absolute */

.caja1 {
	background-color: red;
}

.caja2 {
	background-color: orange;
	position: absolute;/*no reserve space for the box and this space is occupy for other box */
	opacity: 0.5;/*Transparence */
}

.caja3 {
	background-color: blue;
}