/*Put the div div opposite other, this we can make with property float */
.content{
	float: right;
}

.content div {
	width: 50%;
	float: left;
}


.first {
	background: orange;
}

.second {
	background: yellow;
}