/*flex-shrink - how much space the box will yield*/

.flex-container {
    display: flex;     
    text-align: center;
    height: 100vh;
}


.flex-item {
    min-width: 250px;
    flex-grow: 1;
    background: #00ccffff;
    margin: 5px;
    height: 120px;
    min-width: 150px;
    width: 300px;
   
}

.verde {
    background: #00ff00;
    /*This box give the space necessary for 
    complete the size of container */
    flex-shrink: 4;/*this box yield four space
    we can see the efect of flex-shrink when we put the width 
    and min-width */
}

.azul {
    background: #0023ff;
    /*flex: flex-grow flex-shrink flex-basis */
    flex: 1 0 200px;/*flex-grow: 1, flex-shrink: 0, flex-basis: 200px*/
}
